<ion-header>
  <ion-toolbar>
    <ion-title>
      Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item button
            detail
            detailIcon="caret-down-sharp"
            (click)="callMe()">

    <ion-input [value]="value"
               [readonly]="true">
    </ion-input>

  </ion-item>

  <br />

  <ion-text>
    Open the console logs and see...
  </ion-text>

  <br />

  <ion-text>
    Test #1. If you click above the detail icon, the function is called one. All good.
  </ion-text>

  <br />

  <ion-text>
    Test #2. If you click in the middle of the ion-input, the function is called twice. Afterwards, is called once. Weird behavior....
  </ion-text>

  <br />

  <ion-text>
    Test #3. If you click in the middle of the ion-input, sometimes is called once and sometimes is called twice. A tab refresh while testing this shows the weird behavior.
  </ion-text>


</ion-content>
